body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* HEADER SECTION */
.header {
    display: flex;
    flex-direction: column;
    padding: 16px 128px 64px;
    background-color: #1F2937;
    gap: 64px;
}

.header-1 {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-2 {
    display: flex;
    gap: 32px;
}

.header-2 div {
    flex:1;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #F9FaF8;
}

.awesome p, .header-1 ul {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome button {
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    padding: 4px 16px;
}

/* INFORMATION SECTION */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    gap: 32px;
    padding: 16px 128px 64px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
}

.cards {
    display: flex;
}

.card div {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 4px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* QUOTE SECTION */
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    padding: 64px 128px;
}

.quotation {
    font-style: italic;
    margin: 0;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    margin: 0;
}

/* ACTION SECTION */
.action {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    background-color: #3382F6;
    font-size: 18px;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 16px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.action-text {
    padding: 8px;
}

.action-text p {
    margin: 0;
}

.action-box button {
    background-color: inherit;
    border: 2px solid #F9FAF8;
    border-radius: 4px;
    color: #F9FAF8;
    height: fit-content;
    width: fit-content;
}

/* FOOTER SECTION */
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.footer ul {
    gap: 4px;
}